$color1: rgb(49, 49, 49);
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $color1;
}

.jumbotron {
    width: 80%;
    margin-left: 10%;
    box-shadow: 2px 2px rgba(223, 110, 18, 0.698);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card {
    margin-left: 10%;
    position: relative;
    width: 70%;
    -webkit-transition: width 2s;
    /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.card:hover {
    width: 80%;
    opacity: 4;
    box-shadow: 2px 2px rgba(223, 110, 18, 0.698);
}

.hidden {
    display: none;
}